---

import Contact from './components/solid/Contact'
import Demonstrations from './components/svelte/Demonstrations.svelte'
import FAQs from './components/solid/FAQs'
import Hero from './components/solid/Hero'
import Process from './components/solid/Process'
import Technologies from './components/solid/Technologies'
import WhatWeDo from './components/solid/WhatWeDo'
import Main from '../layouts/main.astro'
---

<Main title="code_king">
	<Hero />
	<WhatWeDo />
	<Process />
	<Technologies />
	<Demonstrations client:load />
	<FAQs client:load />
	<Contact />
</Main>


<style is:global>
	.right-links, .left-links a{
	font-weight: 600;
	color: #2B2551;
}

.active {
	height: 2px;
	background-color: #393265;
	width: 100%;
	transition: transform 500ms;
}

.right-links li:hover .active,
.left-links li:hover .active{
	transform: rotateY(0deg) !important;

}

.max-w-50ch {
	max-width: 50ch;
}

p {
	max-width: 30ch;
}

.title {
	color: #2B2551;
	font-weight: 600;
	font-size: 2.25rem;
    line-height: 2.5rem;
}

.social_media svg {
	height: 40px;
	width: auto;
}

.ytb:hover path {
	fill: red;
}
.discord:hover path {
	fill: #738ADB;
}
.facebook:hover path {
	fill: #4267B2;
}
.linkedin:hover path {
	fill: #0e76a8;
}
.email:hover path {
	fill: #4267B2;
}

.technologies-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, 400px);
	justify-content: center;
	gap: 2rem;
	max-width: 832px;
	width: 100%;
}

.tech-block h1 {
	margin-bottom: 1rem;
	font-size: 1.25rem
}

.skills {
	display: flex;
	gap: 1rem;
}

.skills img {
	height: 40px;
	width: auto;
}

.show-img {
	max-height: 500px;
	width: auto;
}

/* .card {
	width: 100vw;
} */
body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  gap: 10rem;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 150ms;
}
</style>