---

import Contact from './components/solid/Contact'
import Demonstrations from './components/svelte/Demonstrations.svelte'
import FAQs from './components/solid/FAQs'
import Hero from './components/solid/Hero'
import Process from './components/solid/Process'
import Technologies from './components/solid/Technologies'
import WhatWeDo from './components/solid/WhatWeDo'
import Main from '../layouts/main.astro'
---

<Main title="code_king">
	<title>Code King</title>
	<link rel="shortcut icon" href="/red_lion.png" type="image/png">
	<div id="ck" slot="body">
		<Hero  client:load />
		<WhatWeDo client:load/>
		<Process client:load />
		<Technologies client:load/>
		<Demonstrations client:load />
		<FAQs client:load />
		<Contact />
	</div>
</Main>


<style is:global>
	.right-links, .left-links a{
	font-weight: 600;
	color: #2B2551;
}

.active {
	height: 2px;
	background-color: #393265;
	width: 100%;
	transition: transform 500ms;
}

.right-links li:hover .active,
.left-links li:hover .active{
	transform: rotateY(0deg) !important;

}

.max-w-50ch {
	max-width: 50ch;
}

p {
	max-width: 30ch;
}

.title {
	color: #2B2551;
	font-weight: 600;
	font-size: 2.25rem;
    line-height: 2.5rem;
}

.social_media svg {
	height: 40px;
	width: auto;
}

.ytb:hover path {
	fill: red;
}
.discord:hover path {
	fill: #738ADB;
}
.facebook:hover path {
	fill: #4267B2;
}
.linkedin:hover path {
	fill: #0e76a8;
}
.email:hover path {
	fill: #4267B2;
}

.technologies-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, 400px);
	justify-content: center;
	gap: 2rem;
	max-width: 832px;
	width: 100%;
}

.tech-block h1 {
	margin-bottom: 1rem;
	font-size: 1.25rem
}

.skills {
	display: flex;
	gap: 1rem;
}

.skills img {
	height: 40px;
	width: auto;
}

.show-img {
	max-height: 500px;
	width: auto;
}

.list-decimal li img {
	width: 300px;
	height: auto;
}

.list-decimal li:nth-child(2n) {
	flex-direction: row-reverse;
}

.list-decimal li {
	display: flex;
	gap: 20px;
	justify-content: space-evenly;
}

.list-decimal li h2 {
	font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
	font-weight: 600;
}

#ck {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  gap: 10rem;
  margin: 8rem 0;
}

*, *::after, *::before {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
  transition: all 150ms;
}
h1, h2, h3 {
	max-width: 20ch;
}
h2 {
	max-width: 40ch;
	
}

.process-p {
	font-size: 1.5rem/* 20px */;
	line-height: 2rem/* 28px */;
	max-width: 40ch;
}

.anim-fade-left {
	opacity: 0;
	transform: translateX(-50px) translateY(-50px);
}
.anim-fade-left.active-scroll {
	animation: anim-fade-left 1s ease forwards;
}

.anim-fade-right.active-scroll {
	animation: anim-fade-right 1s ease forwards;
}
.anim-fade-right {
	opacity: 0;
	transform: translateX(50px) translateY(50px);
}

.question h2, .question h1 {
	max-width: none;
}

.twd:nth-child(2) {
	animation-delay: 500ms;
}
.twd:nth-child(3) {
	animation-delay: 1s;
}

@keyframes anim-fade-right {
	0%{
		opacity: 0;
		transform: translateX(50px) translateY(50px);
	}
	100%{
		opacity: 1;
		transform: translateX(0) translateY(0);
	}
}

@keyframes anim-fade-left {
	0%{
		opacity: 0;
		transform: translateX(-50px) translateY(-50px);
	}
	100%{
		opacity: 1;
		transform: translateX(0) translateY(0);
	}
}
</style>