---
import Contact from "./components/solid/Contact";
import Demonstrations from "./components/svelte/Demonstrations.svelte";
import FAQs from "./components/solid/FAQs";
import Hero from "./components/solid/Hero";
import Process from "./components/solid/Process";
import Technologies from "./components/solid/Technologies";
import WhatWeDo from "./components/solid/WhatWeDo";
import Main from "../layouts/main.astro";
---

<Main title="code_king">
	<!-- HTML Meta Tags -->
	<title>Code King</title>
	<meta
		name="description"
		content="Code King is an independent and International Team of Designers and Developers. We specialize in UI / UX design, and Web and Mobile Development. You don't have to manage a team in order to build simple or complicated projects. We will do all the hard work for you. "
	/>

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="https://code-king.vercel.app/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Code King" />
	<meta
		property="og:description"
		content="Code King is an independent and International Team of Designers and Developers. We specialize in UI / UX design, and Web and Mobile Development. You don't have to manage a team in order to build simple or complicated projects. We will do all the hard work for you. "
	/>
	<meta property="og:image" content="/dblue_king-removebg-preview.jpg" />

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="twitter:domain" content="code-king.vercel.app" />
	<meta property="twitter:url" content="https://code-king.vercel.app/" />
	<meta name="twitter:title" content="Code King" />
	<meta
		name="twitter:description"
		content="Code King is an independent and International Team of Designers and Developers. We specialize in UI / UX design, and Web and Mobile Development. You don't have to manage a team in order to build simple or complicated projects. We will do all the hard work for you. "
	/>
	<meta name="twitter:image" content="/dblue_king-removebg-preview.jpg" />

	<!-- Meta Tags Generated via https://www.opengraph.xyz -->
	<link rel="shortcut icon" href="/red_lion.png" type="image/png" />
	<meta
		name="keywords"
		content="web, mobile, development, ui ux, design, responsive, vuejs, react, native, deployemnt, codinng"
	/>
	<div id="ck" slot="body">
		<Hero client:load />
		<WhatWeDo client:load />
		<Process client:load />
		<Technologies client:load />
		<Demonstrations client:load />
		<FAQs client:load />
		<Contact />
	</div>
</Main>

<style is:global>
	.right-links,
	.left-links a {
		font-weight: 600;
		color: #2b2551;
	}

	.active {
		height: 2px;
		background-color: #393265;
		width: 100%;
		transition: transform 500ms;
	}

	.right-links li:hover .active,
	.left-links li:hover .active {
		transform: rotateY(0deg) !important;
	}

	.max-w-50ch {
		max-width: 50ch;
	}

	p {
		max-width: 30ch;
	}

	html {
		scroll-behavior: smooth;
	}

	.title {
		color: #2b2551;
		font-weight: 600;
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.social_media svg {
		height: 40px;
		width: auto;
	}

	.ytb:hover path {
		fill: red;
	}
	.discord:hover path {
		fill: #738adb;
	}
	.facebook:hover path {
		fill: #4267b2;
	}
	.linkedin:hover path {
		fill: #0e76a8;
	}
	.email:hover path{
		fill: #4267b2;
		/* display: none; */
	}

	.technologies-box {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		/* max-width: 832px; */
		max-width: 1150px;
		padding: 0 40px;
	}

	.technologies-box > * {
		flex-grow: 1;
	}

	.answer {
		transition: all 1s;
	}
	
	/* .qnh {
		transition: all 1s;
		max-height: 0;
	}
	.qh {
		transition: all 1s;
		height: 400px;
	} */

	.technologies-box h1 {
		max-width: none;
	}

	.tech-block h1 {
		margin-bottom: 1rem;
		font-size: 1.25rem;
	}

	.skills {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
	}

	.skills img {
		height: 40px;
		width: auto;
	}

	.show-img {
		max-height: 500px;
		width: auto;
	}

	.list-decimal li img {
		width: 300px;
		height: auto;
	}

	.list-decimal li:nth-child(2n) {
		flex-direction: row-reverse;
	}

	.list-decimal li {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.tech {
		gap: 20px;
		align-items: center;
	}
	.skills {
		display: flex;
		flex-wrap: wrap;
	}

	.list-decimal li h2 {
		font-size: 1.25rem /* 20px */;
		line-height: 1.75rem /* 28px */;
		font-weight: 600;
	}

	.contact-methods > div {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		box-shadow: 3px 3px 15px 1px rgba(68, 68, 68, 0.25);
	}

	.contact-methods > div p {
		font-size: 1.25rem /* 20px */;
		line-height: 1.75rem /* 28px */;
		max-width: 25ch;
	}

	.email svg {
		height: 40px;
		width: auto;
	}

	.contact-methods > div:nth-child(2) {
		padding: 20px;
		box-shadow: 3px 3px 15px 1px rgba(68, 68, 68, 0.25);
		z-index: 4;
	}
	.contact-methods > div:nth-child(2) a:hover{
		background-color: rgb(197 0 30);
	}

	.email{
		margin-top: 20px;
	}

	.contact {
		padding: 0 20px;
	}

	#ck {
		display: flex;
		flex-direction: column;
		scroll-behavior: smooth;
		gap: 10rem;
		margin: 8rem 0;
	}

	.ham

	*,
	*::after,
	*::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		transition: all 150ms;
	}
	h1,
	h2,
	h3 {
		max-width: 20ch;
	}
	h2 {
		max-width: 40ch;
	}

	.process-p {
		font-size: 1.5rem /* 20px */;
		line-height: 2rem /* 28px */;
		max-width: 40ch;
	}

	.anim-fade-left {
		opacity: 0;
		transform: translateX(-50px) translateY(-50px);
	}
	.anim-fade-left.active-scroll {
		animation: anim-fade-left 1s ease forwards;
	}

	.anim-fade-right.active-scroll {
		animation: anim-fade-right 1s ease forwards;
	}
	.anim-fade-right {
		opacity: 0;
		transform: translateX(50px) translateY(50px);
	}

	.question h2,
	.question h1 {
		max-width: none;
	}

	.twd:nth-child(2) {
		animation-delay: 500ms;
	}
	.twd:nth-child(3) {
		animation-delay: 1s;
	}

	@keyframes anim-fade-right {
		0% {
			opacity: 0;
			transform: translateX(50px) translateY(50px);
		}
		100% {
			opacity: 1;
			transform: translateX(0) translateY(0);
		}
	}

	@keyframes anim-fade-left {
		0% {
			opacity: 0;
			transform: translateX(-50px) translateY(-50px);
		}
		100% {
			opacity: 1;
			transform: translateX(0) translateY(0);
		}
	}

	@media screen and (min-width: 768px) {
		.all {
			position: unset !important;
		}
	}
</style>
